// CONSTANTS

$navbar-height: 80px;
$border: 1px solid #aaa;

// GENERAL

* {
  box-sizing: border-box;
}
html,
body {
  display: inline-block;
  min-width: 100%;
  font-size: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}
.no-display {
  display: none !important;
}
.blur {
  filter: blur(6px);
}
ul {
  margin: 0;
  li {
    padding-left: 0;
    list-style: none;
  }
}
button,
input[type='submit'] {
  border: 1px inset #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-variant: small-caps;
}
button:hover,
input[type='submit']:hover {
  background-color: #eee;
  cursor: pointer;
}
button:active,
input[type='submit']:active {
  border-style: outset;
  background-color: #ccc;
}

// NAV

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $navbar-height;
  display: flex;
  z-index: 20;
  font-size: 14px;
  border-bottom: $border;
  background-color: #fff;
  > * {
    display: flex;
    align-items: center;
    margin: 10px 50px;
  }
}
nav + * {
  margin-top: $navbar-height;
}
.nav-home {
  h1 {
    margin-right: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  div {
    background-image: url('wally.png');
    background-size: cover;
    height: 60px;
    width: 60px;
    border: $border;
    border-radius: 50%;
  }
}
.nav-photo {
  a {
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: oblique;
    font-size: 20px;
    color: #333;
  }
  a:hover {
    text-decoration: underline;
    color: #000;
  }
  ul {
    display: flex;
  }
  li {
    margin-right: 30px;
    display: flex;
    align-items: center;
  }
  span {
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
  }
  div {
    background-size: cover;
    height: 40px;
    width: 40px;
    border: $border;
    border-radius: 50%;
  }
}

// HOME

.home {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 14px;
  section {
    margin: 20px;
    text-align: center;
  }
  a {
    display: block;
    text-align: center;
  }
  a:first-child {
    margin-bottom: 10px;
  }
  a:last-child {
    font-size: 10px;
  }
  article {
    width: 200px;
    height: 200px;
    border: $border;
    border-radius: 15px;
  }
  button {
    font-size: 12px;
  }
}

// PHOTO

.photo { 
  position: relative;
  width: min-content;
  background-color: #333;
  img {
    display: block;
  }
  .wally,
  .odlaw,
  .wizard {
    position: absolute;
    border: 2px solid white;
    z-index: 5;
  }
  .selection {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    margin: 0;
    z-index: 10;
    > li {
      display: block;
      margin-left: 0;
      list-style: none;
      font-size: 14px;
    }
    > li:hover {
      cursor: pointer;
      background-color: #555;
      color: #fff;
    }
  }
}

// POPUPS

.popups {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 5;
  background-color: #fff;
  border: 1px #aaa solid;
  border-radius: 10px;
}
.start {
  margin: 25px;
}
.insert-name {
  margin: 25px;
  text-align: center;
  font-size: 16px;
  p:last-of-type {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  input[type='text'] {
    margin: 10px;
    width: 200px;
  }
}
.high-scores {
  display: block;
  margin: 10px;
  font-size: 16px;
  text-align: left;
  h2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
  }
  table {
    width: 100%;
    th {
      padding: 4px 8px;
    }
    th:first-child {
      font-weight: bold;
    }
  }
}
.x {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  padding: 3px;
  border: $border;
  border-radius: 50%;
  span {
    font-size: 10px;
    font-weight: bold;
  }
}
.x:hover {
  cursor: pointer;
  color: #000;
  background-color: #eee;
}
